{% if difficulty %}
  {% set diffLower = difficulty | lower %}
  <div class="question-difficulty {{ diffLower }}" aria-label="Difficulty: {{ difficulty }}">
  {% set iconName = 'speed' %}
  <span class="material-symbols-outlined difficulty-icon" aria-hidden="true" title="{{ difficulty }}">{{ iconName }}</span>
    <span class="difficulty-text">{{ difficulty }}</span>
  </div>
{% endif %}
